body {
  font-family: "IBM Plex Mono", monospace;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.menu {
  text-align: center;
  background: #fff;
  padding: 20px 40px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
  color: #333;
  margin-bottom: 10px;
}

p {
  color: #666;
  margin-bottom: 20px;
}

.levels {
  font-family: "IBM Plex Mono", monospace;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(2, 1fr);
}

.level-btn {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}
.level-btn:last-child {
  grid-column: span 2;
}

.level-btn:hover {
  transform: scale(1.05) translateY(-5px);
}
#back {
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.active {
  display: flex;
  justify-content: space-between;
}
img {
  width: 30px;
  height: 30px;
}
#switchTheme {
  cursor: pointer;
}
