body {
  font-family: "IBM Plex Mono", monospace;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.level-container {
  text-align: center;
  background: #fff;
  padding: 20px 40px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 500px;
}

h1 {
  color: #333;
}

p {
  color: #666;
}

.question-image {
  width: 100%;
  max-width: 300px;
  margin: 20px auto;
}

input {
  padding: 10px;
  font-size: 16px;
  width: 100%;
  max-width: 300px;
  margin: 10px 0;
  border-radius: 50px;
  text-align: center;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button.disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

img {
  width: 200px;
  height: 200px;
  object-fit: cover;
}
#back {
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.active {
  display: flex;
  justify-content: space-between;
}
.menu {
  width: 30px;
  height: 30px;
}
#switchTheme {
  cursor: pointer;
}
.active span:hover {
  opacity: 0.5;
  transform: scale(1.1);
}
button:hover {
  opacity: 0.5;
  transform: scale(1.1);
}

