body {
  font-family: Arial, sans-serif;
  text-align: center;
}

input {
  padding: 10px;
  margin: 10px 0;
}

button {
  padding: 10px;
}

#result {
  margin-top: 20px;
}
.parent {
  display: flex;
  justify-content: center;
  position: relative;
}
#suggestionBox {
  margin-top: 130px;

  /* background-color: white; */
  position: absolute;
  width: calc(100% - 70px);
  max-width: 300px;
  display: none;
  z-index: 1;
}
.active_buttons{
  display: flex;
  align-items: center;
  justify-content: center;
}
img:hover{

  opacity: 0.5;
}
img{

  width: 30px;
  height: 30px;

}

.suggestion {
  padding: 10px;
  cursor: pointer;
}


.modeLabel{
  font-weight: bold;
  /* color: black; */
}
#searchButton{
  margin-right: 5px;
}
#swithTheme{
  margin-left: 5px;
}

