body {
    font-family: Arial, sans-serif;
}

input {
    padding: 10px;
    margin: 10px 0;
}

button {
    padding: 10px;
}

#result {
    margin-top: 20px;
}
#suggestionBox {
    border: 1px solid #ccc;
    background-color: white;
    position: absolute;
    width: calc(100% - 20px);
    max-width: 300px;
    display: none;
    z-index: 1;
}

.suggestion {
    padding: 10px;
    cursor: pointer;
}

.suggestion:hover {
    background-color: #f0f0f0;
}
